@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #294db1;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #f89e9e;
}
header nav a {
  padding: 10px 20px;
  font-size: 1rem;
  color: #f3eea4;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #f3eea4;
  color: #294db1;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}
body {
  background: #294db1;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #f3eea4;
}
section:nth-child(2) {
  color: #294db1;
  background: #f3eea4;
}
section:nth-child(3) {
  color: #f3eea4;
}
section:nth-child(4) {
  color: #294db1;
  background: #f3eea4;
}
section:nth-child(5) {
  color: #f3eea4;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 2rem;
  margin: 20px;
}
section h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #a7b620;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

footer {
    color: white;
    text-decoration: none;
    font-family: 'Century Gothic MS';
}

footer a {
    color: white;
    text-decoration: none;
}
.govtLinks {
    margin: auto;
    margin-top: 30px;
    padding: auto;
    line-height: 5px;
}
.govPh {
    margin: auto;
    margin-top: 30px;
    padding: auto;
    line-height: 5px;
}

p {
  color: #294db1;
}

h1, h3, h4, h5 {
  color: #294db1;
}